<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nous contacter</title>
    <link rel="stylesheet" href="css/accueil.css">
    <script src="contact.js" defer></script>
</head>

<body>
<h1> Formulaire de Contact</h1>

<form>
    <label>Nom :</label>
    <input type="text" name="nom" id="nom" required>
<br><br>
    <label>Prénom :</label>
    <input type="text" name="prenom" id="prenom" required>
<br><br>
    <label>Object de message :</label>
    <textarea name="" id="object" cols="30" rows="5"></textarea>
<br><br>
<input type="submit" value="Envoyez" required>
<br>

</form>
<footer>
<p>Ouvert le lundi au vendredi de 9 heures à 15 heures est de 17 heures à 21 heures 30. Le samedi de 9 heures à 14 heures. Le dimanche férmé.</p>
<p>Le numéro de téléphone : +262 639 23 57 66</p>
</footer>

<% message.affiche.forEach(a => { %>
<h1><%= a %></h1>
<% }) %>

</body>
</html>