
/* partie 1 : css accueil */

.situation{
    text-align: center; /* alignement de texte */
    font-size: 20px; /* taille du texte */
    color: black; /* couleur du texte */
    
}

.image{
    display: flex; /* type d'affichage */
    justify-content: center; /* alignement de la boîte au centre */ 
    }

/* partie 2 : css contact */

body {
    font-family: Arial, sans-serif;

    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.persocommande {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    
}

form {
    text-align: center;
    flex-direction: column;
    
}

label {
    margin-bottom: 10px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ddd;
    border-radius: 10px;
    font-size: 16px; 
} 

input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ddd;
    border-radius: 10px;
    font-size: 16px; 
} 


h2{
    text-align: center;
}







.plat1{
    display: flex;
    justify-content: center;
}

.plat2{
    display: flex;
    justify-content: center;
}

.plat3{
    display: flex;
    justify-content: center;
}

.plat4{
    display: flex;
    justify-content: center;
}

