<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barre de navigation</title>
    <link rel="stylesheet" href="css/navigation.css">
</head>


<body>


    <header>
        <h1>Le Original's Faïz</h1>

        <nav class="recherche">
            <ul>
            <li><a href="acceuil">Accueil</a></li>
            <li><a href="equipe" target="_blank">Équipe</a></li>
            <li><a href="menu" target="_blank">Menu</a></li>
            <li><a href="contact" target="_blank">Contact</a></li>
            
    </header>       


    
</body>
</html>